* {
    margin: 0 auto;
    padding: 30px;
}

body {
    font-family: 'Fredoka One', cursive;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: groove;
    border-radius: 10px;
    border-color: rgb(255, 115, 0);
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
    border-width: 8px;
    background: #f4f4f4 url(../img/fundo.jpg) no-repeat;
    background: cover;
}

.titulo {
    text-align: center;
    font-size: 35px;
    color: orange;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.878);
    text-decoration: underline;
}

.mensagem {
    text-align: center;
    font-size: 20px;
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.878);
}

.botao-cadastro {
    display: flex;
    flex-direction:row;
    margin: 0 auto;
    padding: 0;
    font-size: 30px;
    border-radius: 10px;
    border-width: 4px;
    color: chartreuse;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    transition: 1.2s;  
}

.ocultar-link:link {
    color: rgb(49, 239, 6);
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.ocultar-link:visited {
    color: rgb(255, 0, 0);
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000; 
}

.botao-cadastro:hover {
    transform: scale(1.2);
}