@charset "UTF-8"

/* Todas as demais mídias */

/* Diferencial de telas entre aparelhos 
============================================
Pequenas telas: 320px até 600px.
Celulares: de 600px até 768px.
Tablets: de 768px até 992px.
Desktops: de 992px até 1200px.
Telas Maiores: acima de 1200px.
*/

@media screen and (min-width: 320px) and (max-width: 600px) {
    
    /* MOBILE */
    * {
        font-family: 'Fredoka One', cursive;
        display: flex;
        font-size: 1.3em;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body, html {
        height: 100vh;
    }
    
    body {
        background: rgb(0, 0, 0) url("../img/fundo.jpg") no-repeat;
        background-size: cover;
        background-position: center center;
    }
    
    main {
        background-color: rgba(255, 255, 255, 0.466);
        width: 80vw;
        margin: auto;
        border-radius: 10px;
        padding: 10px;
    }
    
    h1 {
        text-align: center;
        font-size: 10px;
        color: rgb(16, 231, 255);
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.896);
    }
    
    img {
        display: block;
        margin: auto;
        width: 60%;
    }
}


@media screen and (min-width: 768px) and (max-width: 992px) { 

    /* TABLET */
    body {
        width: auto;
        background-image: url(../img/fundo.jpg);
        background-size: cover;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { 

    /* DESKTOP */
    body {
        width: auto;
        background-image: url(../img/fundo.jpg);
        background-size: cover;
    }
}

@media screen and (min-width: 1200px) { 

    /* TELAS MAIORES */
    body {
        width: auto;
        background-image: url(../img/fundo.jpg);
        background-size: cover;
    }
}