@charset "UTF-8"

/* Todas as demais mídias */

/* Diferencial de telas entre aparelhos 
============================================
Pequenas telas: 320px até 600px.
Celulares: de 600px até 768px.
Tablets: de 768px até 992px.
Desktops: de 992px até 1200px.
Telas Maiores: acima de 1200px.
*/

@media screen and (min-width: 768px) and (max-width: 992px) { 

    /* TABLET */
    body {
        width: auto;
        background-image: url(../img/fundo.jpg);
        background-size: cover;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { 

    /* DESKTOP */
    body {
        width: auto;
        background-image: url(../img/fundo.jpg);
        background-size: cover;
    }
}

@media screen and (min-width: 1200px) { 

    /* TELAS MAIORES */
    body {
        width: auto;
        background-image: url(../img/fundo.jpg);
        background-size: cover;
    }
}