body {
    display: flex;
    flex-direction: column;
}

main {
    border: double;
}

.titulo {
    display: flex;
    justify-content: center;
}

.descricao {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
}

.container {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 300px auto 55%;
    justify-content: center;
}

ul {
    list-style: none;
}

.lista {
    display: grid;
    grid-template-rows: repeat(7, 7fr);
    grid-auto-rows: 180px;
    align-content: space-between;
    align-items: center; 
}   

