body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    background: #f4f4f4 url(../img/fundo.jpg) no-repeat;
    background-size: cover;
}

main {
    border: double;
    padding: 20px 20px 20px 20px;
    border-color: rgb(0, 0, 0);
}

.titulo {
    display: flex;
    justify-content: center;
    text-decoration:dashed;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.878);
    color: rgb(255, 115, 0);
    font-size: 38px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.descricao {
    display: flex;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.878);
    color: rgb(0, 239, 147);
    font-size: 25px;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #000;
}

 input {
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0 20px 10px;
    width: 100%;
    padding: 10px 0 10px 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.878);
}

ul {
    list-style: none;
}

.lista {
      float: left;
      border: none;
      display: grid;
      grid-template-columns: 300px auto 55%;
      justify-items: center;
      padding: 0 0 0 29px;
}